{% include 'sitio/head.html' %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Médicos</h1>
    </div>
  </div>


  <!-- Información Doctor -->
    <div class="row">
      {% for medico in medicos %}
        <div class="col-4">
            <div class="card text-start">
              <img class="card-img-top" src="/imagenes/{{ medico[3] }}" alt="Title">
              <div class="card-body">
                <h4 class="card-title">{{ medico[1] }}</h4>
                <p class="card-text">{{ medico[2] }}</p>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <br><br>


{% include 'sitio/footer.html' %}