{% include 'admin/head.html' %}

<div class="container">

    <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-header">
                Datos del Médico
            </div>
            <div class="card-body">
                <form action="/admin/medicos/guardar" method="POST" enctype="multipart/form-data">

                    <div class="mb-3">
                      <label for="medico_nombre_form" class="form-label">Nombre</label>
                      <input type="text" class="form-control" name="medico_nombre_form" id="" aria-describedby="" placeholder="Escriba aquí">

                      <label for="medico_url_form" class="form-label">URL Linkedin</label>
                      <input type="text" class="form-control" name="medico_url_form" id="" aria-describedby="" placeholder="Escriba aquí">

                      <label for="medico_imagen_form" class="form-label">Imagen perfil</label>
                      <input type="file" class="form-control" name="medico_imagen_form" id="" aria-describedby="" placeholder="Escriba aquí">
                      <br>
                      <button type="submit" class="btn btn-success">Crear Médico</button>
                    </div>

                </form>
            </div>
        </div>          
        </div>

        <!--  Venimos desde app.py desde esta funcion:
              @app.route('/admin/medicos')
              def admin_medicos():
              Ahora vamos a mostar la data seleccionada
        -->

        <div class="col-8"> 
          <div class="table-responsive">
            <table class="table table-primary">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Médico</th>
                  <th scope="col">Especialidad</th>
                  <th scope="col">Imagen</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody>
                  
                {%for medico in medicos%}
                <tr class="">
                  <td>{{ medico[0] }}</td>
                  <td>{{ medico[1] }}</td>
                  <td>{{ medico[2] }}</td>
                  <td>{{ medico[3] }}</td>
                  <td>

                    <form action="/admin/medicos/borrar" method="post">
                      <input type="text" value="{{ medico[0] }}" name="medico_id_borrar" id="medico_id_borrar">
                      <button type="submit" class="btn btn-primary">Eliminar</button>
                    </form>

                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
        </div>
  
    </div>
</div>



{% include 'admin/footer.html' %}